# Set the default behavior, in case core.autocrlf isn't set.
* text=auto

# Files that Sublime writes as LF even on Windows
Package[[:space:]]Control.sublime-settings text eol=lf
Preferences.sublime-settings text eol=lf
